<ngt-object3D #dice
              rigidBody
              [options]="{
                    restitution: 0.7,
               }"
              [position]="position()"
              (click)="onDiceClick()"
              (pointerover)="hovered.set(true)"
              (pointerout)="hovered.set(false)"
              castShadow>

    <ngts-rounded-box *args="[1.5, 1.5, 1.5]"
                      [options]="{ radius: 0.1, smoothness: 4 }">
        <ngt-mesh-standard-material [color]="color()"
                                    [metalness]="0.5"
                                    [roughness]="0.3" />

        <app-dice-face side="top" [faceTexture]="faceAce()"></app-dice-face>
        <app-dice-face side="bottom" [faceTexture]="face9()"></app-dice-face>
        <app-dice-face side="right" [faceTexture]="face10()"></app-dice-face>
        <app-dice-face side="front" [faceTexture]="faceJ()"></app-dice-face>
        <app-dice-face side="back" [faceTexture]="faceQ()"></app-dice-face>
        <app-dice-face side="left" [faceTexture]="faceK()"></app-dice-face>

    </ngts-rounded-box>

</ngt-object3D>