<ngt-object3D #dice
              rigidBody
              [options]="{
                    restitution: 0.7,
                    linearVelocity: velocity(),
                    angularVelocity: angularVelocity(),
                    lockRotations: lockRotation(),
               }"
              [position]="position()"
              (click)="onDiceClick()"
              (pointerdown)="startDrag()"
              (pointerover)="hovered.set(true)"
              (pointerout)="hovered.set(false)"
              [cuboidCollider]="[0.5, 0.5, 0.5]"
              debug
              castShadow>

    <ngts-rounded-box *args="[1.5, 1.5, 1.5]"
                      [options]="{ radius: 0.1, smoothness: 4 }">


        <ngt-mesh-standard-material [color]="color()"
                                    [metalness]="0.5"
                                    [roughness]="0.1" />

        @for(face of diceConfig().faces; track face.side) {
        <app-dice-face [side]="face.side"
                       rigidBody
                       [options]="{ colliders: false }"
                       [faceRef]="face.textureRef" />
        }

    </ngts-rounded-box>

</ngt-object3D>