name: Build Android APK

on:
  workflow_call:
    outputs:
      artifact-name:
        description: "Name of uploaded artifact"
        value: ${{ jobs.build.outputs.artifact-name }}

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    outputs:
      artifact-name: ${{ steps.set-artifact.outputs.artifact-name }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install

      - name: Build Angular project
        run: npm run build

      - name:  Add android folder if not present
        run: if [ ! -d "./android" ]; then npx cap add android; fi

      - name: Sync Capacitor
        run: npx cap sync

      - name: Setup Gradle cache
        uses: gradle/gradle-build-action@v3

      - name: Build debug APK
        run: cd android && ./gradlew assembleDebug

      - name: Check folder content of android output
        run: ls ./android/app/build/outputs/apk/debug

      - name: Upload APK
        id: upload-apk
        uses: actions/upload-artifact@v4
        with:
          name: apk-${{ github.sha }}
          path: ./android/app/build/outputs/apk/debug/*.apk

      - id: set-artifact
        name: Set artifact-name output
        run: |
          ARTIFACT_NAME="apk-${{ github.sha }}"
          echo "artifact-name=$ARTIFACT_NAME" >> $GITHUB_OUTPUT
